@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
